In [63]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from datetime import date

In [64]:
# Load the stock data into a pandas DataFrame
df = pd.read_csv('NVDA.csv')

# Convert the date column to a datetime object and set it as the index
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')
df.index = pd.DatetimeIndex(df.index).to_period('D')

df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-09,256.220001,267.250000,253.529999,267.049988,266.800507,52428200
2022-02-10,259.950012,269.250000,256.000000,258.239990,257.998749,51320000
2022-02-11,259.160004,261.519989,237.729996,239.490005,239.266281,60547200
2022-02-14,239.339996,248.750000,237.550003,242.669998,242.443283,44042400
2022-02-15,249.490005,265.450012,247.839996,264.950012,264.702484,69986900
...,...,...,...,...,...,...
2023-02-02,210.000000,219.490005,207.000000,217.089996,217.089996,56427600
2023-02-03,210.000000,217.449997,207.889999,211.000000,211.000000,42892500
2023-02-06,208.059998,215.699997,207.860001,210.889999,210.889999,45219700
2023-02-07,213.820007,222.589996,211.500000,221.729996,221.729996,66415000
2023-02-08,223.869995,228.779999,220.080002,222.050003,222.050003,55895500

In [65]:
# Fit an ARIMA model to the data
model = sm.tsa.ARIMA(df['Close'], order=(1,0,0))
model_fit = model.fit()

# Make predictions
future_dates = pd.date_range(date.today(), periods=10, freq='D')
# print(future_dates)
# future_prices = model_fit.predict(start=future_dates[0], end=future_dates[-1])
df['Pronostico'] = model_fit.fittedvalues  


# Print the predictions
# print(future_prices)
df

,Open,High,Low,Close,Adj Close,Volume,Pronostico
Date,,,,,,,
2022-02-09,256.220001,267.250000,253.529999,267.049988,266.800507,52428200,204.041207
2022-02-10,259.950012,269.250000,256.000000,258.239990,257.998749,51320000,266.271335
2022-02-11,259.160004,261.519989,237.729996,239.490005,239.266281,60547200,257.570209
2022-02-14,239.339996,248.750000,237.550003,242.669998,242.443283,44042400,239.051934
2022-02-15,249.490005,265.450012,247.839996,264.950012,264.702484,69986900,242.192629
...,...,...,...,...,...,...,...
2023-02-02,210.000000,219.490005,207.000000,217.089996,217.089996,56427600,209.363399
2023-02-03,210.000000,217.449997,207.889999,211.000000,211.000000,42892500,216.928741
2023-02-06,208.059998,215.699997,207.860001,210.889999,210.889999,45219700,210.914004
2023-02-07,213.820007,222.589996,211.500000,221.729996,221.729996,66415000,210.805363
2023-02-08,223.869995,228.779999,220.080002,222.050003,222.050003,55895500,221.511401

In [66]:
modelo = sm.tsa.ARIMA(df['Close'].iloc[1:], order=(2, 1, 0))  
resultados = modelo.fit()  

df['Pronostico'] = resultados.fittedvalues  
df
# plot = df[['Close', 'pronostico']].plot(figsize=(10, 8))

,Open,High,Low,Close,Adj Close,Volume,Pronostico
Date,,,,,,,
2022-02-09,256.220001,267.250000,253.529999,267.049988,266.800507,52428200,NaN
2022-02-10,259.950012,269.250000,256.000000,258.239990,257.998749,51320000,0.000000
2022-02-11,259.160004,261.519989,237.729996,239.490005,239.266281,60547200,258.240173
2022-02-14,239.339996,248.750000,237.550003,242.669998,242.443283,44042400,239.250004
2022-02-15,249.490005,265.450012,247.839996,264.950012,264.702484,69986900,243.745639
...,...,...,...,...,...,...,...
2023-02-02,210.000000,219.490005,207.000000,217.089996,217.089996,56427600,209.412684
2023-02-03,210.000000,217.449997,207.889999,211.000000,211.000000,42892500,216.418616
2023-02-06,208.059998,215.699997,207.860001,210.889999,210.889999,45219700,210.496076
2023-02-07,213.820007,222.589996,211.500000,221.729996,221.729996,66415000,211.223983
2023-02-08,223.869995,228.779999,220.080002,222.050003,222.050003,55895500,221.881970